# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
**/dist
/tmp
/out-tsc
/.backup
# Only exists if Bazel was run
/bazel-out


# dependencies
/node_modules
**/node_modules
/.angular
/.cache

# IDE - VSCode
/.vscode
/.vscode/*
.vscode
.vscode/*
.history/*
/.trae/*

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/src/assets/alain-default.less
/src/assets/color.less
debug.log
.reviewboardrc
# /src/environments/
# src/environments/environment.ts
tslint.json

src/assets/color.less

.mocks/
